In [1]:
import pandas as pd

In [7]:
data1 ={"Emp Id":["E01","E02","E03","E04","E05","E06"],
        "Names":["Ram","Shyam","Rahul","Vishal","Ravi","John"],
        "Age":[34,56,23,44,32,36]}
data2 = {"Emp Id":["E01","E02","E03","E04","E05","E06"],
         "Salary":[45000,56000,34000,30000,50000,70000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   36
  Emp Id  Salary
0    E01   45000
1    E02   56000
2    E03   34000
3    E04   30000
4    E05   50000
5    E06   70000

In [13]:
#join
print(pd.merge(df1,df2,on="Emp Id"))

  Emp Id   Names  Age  Salary
0    E01     Ram   34   45000
1    E02   Shyam   56   56000
2    E03   Rahul   23   34000
3    E04  Vishal   44   30000
4    E05    Ravi   32   50000
5    E06    John   36   70000

In [15]:
data1 ={"Emp Id":["E01","E02","E03","E04","E05","E06"],
        "Names":["Ram","Shyam","Rahul","Vishal","Ravi","John"],
        "Age":[34,56,23,44,32,36]}
data2 = {"Emp Id":["E01","E02","E08","E04","E05","E07"],
         "Salary":[45000,56000,34000,30000,50000,70000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   36
  Emp Id  Salary
0    E01   45000
1    E02   56000
2    E08   34000
3    E04   30000
4    E05   50000
5    E07   70000

In [19]:
#iner join
print(pd.merge(df1,df2,on = "Emp Id"))

  Emp Id   Names  Age  Salary
0    E01     Ram   34   45000
1    E02   Shyam   56   56000
2    E04  Vishal   44   30000
3    E05    Ravi   32   50000

In [16]:
# left join
print(pd.merge(left = df1,right = df2, on = "Emp Id",how ="left"))

  Emp Id   Names  Age   Salary
0    E01     Ram   34  45000.0
1    E02   Shyam   56  56000.0
2    E03   Rahul   23      NaN
3    E04  Vishal   44  30000.0
4    E05    Ravi   32  50000.0
5    E06    John   36      NaN

In [18]:
#right join
print(pd.merge(left = df1,right = df2, on ="Emp Id",how ="right"))

  Emp Id   Names   Age  Salary
0    E01     Ram  34.0   45000
1    E02   Shyam  56.0   56000
2    E08     NaN   NaN   34000
3    E04  Vishal  44.0   30000
4    E05    Ravi  32.0   50000
5    E07     NaN   NaN   70000

Concatenate

In [24]:
data1 ={"Emp Id":["E01","E02","E03","E04","E05","E06"],
        "Names":["Ram","Shyam","Rahul","Vishal","Ravi","John"],
        "Age":[34,56,23,44,32,36]}

data2 ={"Emp Id":["E01","E02","E03","E04","E05","E06"],
        "Names":["bittu","chintu","pappu","chotu","bunty","golu"],
        "Age":[34,56,23,44,32,36]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [25]:
print(pd.concat([df1,df2]))

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   36
0    E01   bittu   34
1    E02  chintu   56
2    E03   pappu   23
3    E04   chotu   44
4    E05   bunty   32
5    E06    golu   36

Pandas|Compare DataFrames

In [38]:
dict = {"Fruits":["mango","apples","banana","papaya"],
        "Price":[100,150,50,35],
        "Quantity":[15,10,10,3]}
df = pd.DataFrame(dict)
print(df)

df2 = df1.copy()
print(df2)

df2.loc[0,"price"] =120
df2.loc[1,"price"] =175
df2.loc[3,"price"] =30
df2.loc[0,"Quantity"] =12
df2.loc[1,"Quantity"] =15
df2.loc[3,"Quantity"] =5

print(df2)

   Fruits  Price  Quantity
0   mango    100        15
1  apples    150        10
2  banana     50        10
3  papaya     35         3
  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   36
  Emp Id   Names  Age  price  Quantity
0    E01     Ram   34  120.0      12.0
1    E02   Shyam   56  175.0      15.0
2    E03   Rahul   23    NaN       NaN
3    E04  Vishal   44   30.0       5.0
4    E05    Ravi   32    NaN       NaN
5    E06    John   36    NaN       NaN

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   36

  Emp Id   Names  Age  price  Quantity
0    E01     Ram   34  120.0      12.0
1    E02   Shyam   56  175.0      15.0
2    E03   Rahul   23    NaN       NaN
3    E04  Vishal   44   30.0       5.0
4    E05    Ravi   32    NaN       NaN
5    E06    John   36    NaN       NaN

In [36]:
print(df2)

  Emp Id   Names  Age  price  Quantity
0    E01     Ram   34  120.0      12.0
1    E02   Shyam   56  175.0      15.0
2    E03   Rahul   23    NaN       NaN
3    E04  Vishal   44   30.0       4.0
4    E05    Ravi   32    NaN       NaN
5    E06    John   36    NaN       NaN

In [39]:
print (df1.compare(df2,align_axis=0))

ValueError: Can only compare identically-labeled (both index and columns) DataFrame objects