SETS

In [2]:
##Defining an empy set
set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [6]:
type({1,2,3,4,5,'Krish'})
print(set([1,2,3,4,5,5]))

{1, 2, 3, 4, 5}

In [7]:
set_var={"Avengers","IronMan","Hitman"}
print(set_var)
type(set_var)

{'IronMan', 'Avengers', 'Hitman'}

set

In [8]:
for i in set_var:
    print(i)

IronMan
Avengers
Hitman

In [15]:
set_1=set([4,2,3,1,6,7])
print(set_1)

{1, 2, 3, 4, 6, 7}

In [16]:
set_1.add(0)

In [17]:
set_1

{0, 1, 2, 3, 4, 6, 7}

In [9]:
# Inbuilt function in sets
set_var.add('krish')

In [13]:
# Inbuilt function in sets
set_var.add('Hulk')

In [14]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan', 'krish'}

In [30]:
set1={'Avengers', 'Hitman', 'IronMan'}
set2={'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [19]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [20]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [27]:
set2.intersection_update(set1)

In [25]:
#Difference
set2.difference(set1)

{'Hulk2'}

In [31]:
#Difference update
set2.difference_update(set1)

In [32]:
print(set2)

{'Hulk2'}

In [33]:
set1={'Avengers', 'Hitman', 'IronMan'}
set2={'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [34]:
set1.issuperset(set2)

False

In [35]:
set2.issuperset(set1)

True

Dictionaries

In [36]:
type({1:"krish"})

dict

In [38]:
dict(name="Krish",age=31,last_name="Naik")

{'name': 'Krish', 'age': 31, 'last_name': 'Naik'}

In [39]:
## Let create a dictionary

my_disct={"Car1":"Audi","Car2":"BMW","Car3":"Mercidies Benz"}

In [40]:
type(my_disct)

dict

In [41]:
#Access the item values based on keys
my_disct['Car1']

'Audi'

In [42]:
my_disct['Car3']

'Mercidies Benz'

In [44]:
my_disct.items()

dict_items([('Car1', 'Audi'), ('Car2', 'BMW'), ('Car3', 'Mercidies Benz')])

In [45]:
my_disct.values()

dict_values(['Audi', 'BMW', 'Mercidies Benz'])

In [51]:
# We can even loop throught the dictionaries keys

for x in my_disct:
    print(x)

Car1
Car2
Car3

In [52]:
# We can even loop throught the dictionaries values

for x in my_disct.values():
    print(x)

Audi
BMW
Mercidies Benz

In [53]:
for x in my_disct.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [54]:
#Adding items in Dictionaries
my_disct["car4"]="Ambassador"

In [55]:
my_disct

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Ambassador'}

NESTED DICTIONARY

In [56]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [57]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [58]:
car_type['car1']['Mercedes']

1960

TUPLES

In [59]:
## Create an empty Tuples
my_tuple=tuple()

In [60]:
type(my_tuple)

tuple

In [61]:
my_tuple=("krish","Ankur","john")

In [63]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('krish', 'Ankur', 'john')

In [65]:
my_tuple.count("krish")

1

In [71]:
list(my_tuple)

['krish', 'Ankur', 'john']